{{ define "main" }}
  {{ range sort .Paginator.Pages }}
  <article class="markdown memo-post">
    <fieldset class="memos">
        <legend>
          {{ if and (eq .Date.Hour 0) (eq .Date.Minute 0) (eq .Date.Second 0) }} 
            {{ .Date.Format (.Param "BookDateFormat") }}
          {{ else }}
              {{ .Date.Format (.Param "BookDateTimeFormat") }}
          {{ end }}
        </legend>
        <p>{{- .Content -}}</p>
    </fieldset>
  </article>
  {{ end }}

  {{ partial "pagination.html" . }}

  <style>
    .memo_comments {
      margin-top: 5rem;
    }
  </style>
  <div class="memo_comments">
    {{ partial "comments" . }}
  </div>

  {{ if default true (default .Site.Params.copyright .Params.copyright) }}
    {{ partial "copyright" . }}
  {{ end }}

{{ end }}
