{{ define "main" }}
  <article class="markdown book-post">
    {{ if default true (default .Site.Params.showTitle .Params.showTitle) }}
      <h1>
        {{ partial "docs/title.html" . }}
      </h1>
      {{ template "post-meta" . }}
    {{ end }}
    {{- .Content -}}
  </article>

    <!-- next and previous buttons -->
    {{ partial "next-previous" .}}
    <!-- related pages -->
      {{ partial "related" .}}
    
      {{ if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}
      <div class="book-comments">
        {{ partial "comments" . }}
      </div>
      {{ end }} <!-- Comments block -->

    {{ if default true (default .Site.Params.copyright .Params.copyright) }}
      {{ partial "copyright" . }}
    {{ end }}
{{ end }}

{{ define "post-meta" }}
  <div class = "postmeta flex align-cneter" style="justify-content: center;">  
    {{partial "post-meta" .}}
  </div>
{{ end }}

