html,
body {
    scroll-behavior: smooth;
    font-family: serif, 'cursive';
    display: block flex;
    overflow-x: hidden;
    // font-family:  Verdana, Geneva, sans-serif;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

// 底部文章导航
.next-prev {
    hr {
        border: none;
        height: 10px;
        margin-top: 2rem;
        border-top: 1px solid rgba(12, 68, 235, 0.35);
    }

    #pagenavi {
        margin-top: 2rem;
        justify-content: space-between;

        div {
            height: auto;
            border: 0 solid rgba(12, 68, 235, 0.35);
            padding: 5px;
        }

        div.pre-page,
        div.pre-page-none {
            text-align: left;
            border-left-width: 1px;
        }

        div.next-page,
        div.next-page-none {
            text-align: right;
            border-right-width: 1px;
        }
    }
}

// 相似文章
.related {
    margin-top: 2rem;
    // background-color: #f8f8f8;
    border-radius: 25px;

    .rel-title {
        padding-top: 1rem;
        text-align: center;
    }

    .rel-items {
        display: flex;
        justify-content: space-evenly;

        a {
            font-size: .85rem;
            text-align: center;
            padding: 10px;
            div {
                height: 5rem;
                border: 1px solid #f8f8f8;
                // background-color: aliceblue;
                border-radius: 20px;
                margin-top: 1rem;
                padding: 10px;
                padding-top: 1.5rem;
            }
        }

        a:hover {
            div {
                box-shadow: 0 0 10px 0  rgba(12, 68, 235, 0.35);
            }
        }
    }
    hr {
        border: none;
        height: 10px;
        margin-top: 2rem;
        border-top: 1px solid rgba(12, 68, 235, 0.35);
    }

}

.copyright {
    text-align: center;
    font-size: 0.8rem;
    color: gray;

    a {
        color: gray;
    }

    .cline {
        border: none;
        height: 10px;
        border-top: 2px solid #f8f8f8;
        margin-top: 5rem;
    }
}

// TOC 的样式
#toc-new ul {
    list-style: none;
    padding: 0px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

#toc-new ul ul {
    padding-inline-start: 1rem;
}

#toc-new ul li {
    margin: .65em 0;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
}


#toc-new li a {
    color: black;
}

#toc-new li a.active {
    color: #05b;
    background-color: aliceblue;
}

// 隐藏次一级目录
#toc-new li>ul {
    display: none;
}

// 展开
// + ~ 兄弟选择器
// :has 父类选择器
#toc-new li>a.active~ul {
    display: inherit;
}

#toc-new .nav:has(a.active) {
    display: inherit;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 1px;
    z-index: 99;
    font-size: .8rem;
    cursor: pointer;

    .black {
        display: block;
    }

    .blue {
        display: none;
    }
}

#back-to-top:hover {
    .black {
        display: none;
    }

    .blue {
        display: block;
    }
}

// 隐藏/显示目录导航
.navi-header {
    width: 100%;
    height: 30px;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 2px rgba(12, 68, 235, 0.35);

    label.menu {
        position: fixed;
        // top: 5px;
        left: 10px;
        z-index: 99;
    }

    label.toc {
        position: fixed;
        right: 10px;
    }

    img.book-icon {
        width: 1.8rem;
        height: 1.8rem;
    }
}


// web页面下 menu 和toc 重新定位
body .container {
    max-width: 80rem;
    margin: 0 auto;
}

.book-menu {
    display: block;
    position: absolute;
    transition: .3s;
    left: 1.5%;
}

// 让标题和搜索框固定
// 列入计划吧 (:-
#title-search {
    display: block;
    position: fixed;
    top: 25px;
    z-index: 90;
    padding-top: 1rem;
    background-color: white;
    margin-left: 1rem;
    transition: .3s;

    .book-brand {
        width: 100%;
    }

    .book-search {
        width: 120%;
        display: block;

        ul {
            list-style: none;
            overflow: hidden;
        }

        ul li {
            padding: 5px 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            flex-direction: column;
        }
    }
}

.book-page {
    display: block;
    position: absolute;
    margin-right: 2rem;
    left: 19rem;
    right: 0;
    transition: .3s;
}

// https://www.zhangxinxu.com/wordpress/2024/06/css-transition-behavior/
.book-toc {
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    transition: .3s;
}

// web menu and toc ui style
@media screen and (min-width: $mobile-breakpoint) {

    #menu-navi:focus~main label[for="menu-navi"] {
        @include outline;
    }

    #menu-navi:checked~main {

        .book-menu,
        .book-menu .book-menu-content {
            position: absolute;
            transform: translateX(-20rem);
        }

        .book-page {
            left: 0;
        }
    }

    #toc-navi:focus~main label[for="toc-navi"] {
        @include outline;
    }

    #toc-navi:checked~main {

        .book-toc {
            position: fixed;
            transform: translateX(-18rem);
        }

        .book-page {
            right: 18rem;
        }
    }


    .book-menu-content {
        margin-top: 2rem;
    }

    .book-toc-content,
    .book-page {
        margin-top: 2rem;
    }
}

// mobile view font-size .8rem samller than body font size
@media screen and (max-width: $mobile-breakpoint) {

    .book-menu-content,
    .book-toc-content,
    .book-page {
        margin-top: 0rem;
    }

    .book-menu {
        position: absolute;
        left: 0;
        visibility: hidden;
        margin-inline-start: -$menu-width;
        font-size: $font-size-14;
        z-index: 1;
    }

    // bug: 目录展开后切换为移动视图，目录不能完全隐藏
    // 会占用空白空间
    // fixed: 原因在与toc-navi按扭checked book-page right 18rem
    .book-toc {
        position: absolute;
        right: 0;
        visibility: hidden;
        margin-inline-start: -$menu-width;
        font-size: $font-size-14;
        z-index: 1;
    }

    .book-page {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0;
    }

    #toc-control:checked~main {
        .book-header aside {
            display: block;
            transition: .3s allow-discrete;
            opacity: 1;
            font-size: $font-size-14;
        }
    }

    .back-to-top {
        display: none;
    }

    .navi-header {
        display: none;
    }
}