// properties
$f-class-navi: 10rem;
$s-class-navi: 13rem;
$navi-height: 2.5rem;
$bkg-color: rgb(231, 236, 254);
$bkg-color-light: rgb(240, 240, 240);
$hover-color: #0055bb;
$dropdown-max-height: 16rem;


html,
body {
    scroll-behavior: smooth;
    display: block flex;
    overflow-x: hidden;
    // font-family: serif, 'cursive';
    font-family: Arial, Helvetica, sans-serif;
}

code {
    font-family: Courier, 'Courier New' monospace;
}

// 导航栏
@media screen and (min-width: $mobile-breakpoint) {

    #navibar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: $navi-height;
        background-color: white;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 99;
        border: 1px solid transparent;
        box-shadow: 0 2px 5px 2px $bkg-color;

        #page-title {
            display: flex;
            height: 25px;
            margin: .5rem .5rem;

            font-family: fantasy;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        // search -bar 
        .book-search {
            display: flex;
            // position: absolute;
            // left: 43rem;
        }

        .page-navi-col {
            display: flex;
            margin: 0 1rem 0 1rem;

            nav {
                display: flex;

                ul {
                    list-style: none;
                }
            }

            nav>ul {
                display: flex;
                margin: 0 1rem 0;

                >li {
                    position: relative;
                    margin: 0 2rem;
                    padding: .5rem .5rem;
                }
            }

            // 中间撑开
            nav>ul:first-child {
                >li:last-child {
                    margin-right: 15rem;
                }
            }

            nav>ul:last-child {

                // position: absolute;
                a {
                    text-decoration: none;
                    color: black;
                }

                li:hover {

                    // background-color: rgba(12, 68, 235, 0.35);
                    // border-radius: 5px;
                    a {
                        color: $hover-color;
                    }
                }
            }

            // navi bar
            li.book-section-flat {
                /* position: relative; */

                >a,
                >span {
                    font-weight: normal;
                    text-decoration: none;
                    color: black;
                }

                >a:hover,
                >span:hover {
                    color: $hover-color;
                }

                ul {
                    display: none;
                    width: $s-class-navi;
                    position: absolute;
                    left: 0;
                    // transform: translatex(-.5rem);
                    border: 1px solid $bkg-color;
                    box-shadow: 0 1px 1px 1px $bkg-color;
                    border-radius: 5px;
                    padding-inline-start: 0;
                    background-color: white;


                    li {
                        margin: .5rem 0 .5rem;
                        padding: 5px;
                        white-space: nowrap;
                        overflow-x: hidden;
                        text-overflow: ellipsis;

                        a {
                            font-size: .85rem;
                            text-decoration: none;
                            color: black;
                        }

                        :hover>a {
                            color: #0055bb;
                        }
                    }
                }

            }

            li.book-section-flat:hover {

                cursor: pointer;
                background-color: $bkg-color;
                border-radius: 4px;

                >ul {
                    display: block;
                    width: $f-class-navi;
                    padding: 0;

                    >li:hover {
                        background-color: $bkg-color-light;

                        >ul {
                            display: block;
                            position: absolute;
                            transform: translatex($f-class-navi - .1rem) translatey(-1.5rem);
                            // max-height:$dropdown-max-height;
                            // overflow-y: auto;
                            // 2层下拉滚动会导致3层显示异常

                            >li:hover {
                                background-color: $bkg-color-light;
                                // 禁用父ul的overflow-y

                                >ul {
                                    display: block;
                                    position: absolute;
                                    transform: translatex($s-class-navi - .1rem) translatey(-1.5rem);
                                    max-height: $dropdown-max-height;
                                    overflow-y: auto;

                                    >li:hover {
                                        background-color: $bkg-color-light;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    #navibar {
        display: none;
    }
}


// web页面下 menu 和toc 重新定位
body .container {
    max-width: 80rem;
    margin: 0 auto;
}

.book-page {
    display: block;
    position: absolute;
    margin-right: 2rem;
    margin-left: 1rem;
    left: 16rem;
    right: 12rem;
    transition: .3s;
}

// https://www.zhangxinxu.com/wordpress/2024/06/css-transition-behavior/
.book-toc {
    display: block;
    height: 100%;
    position: absolute;
    left: 1rem;
    transition: .3s;
}

// web menu and toc ui style
@media screen and (min-width: $mobile-breakpoint) {
    #toc-navi:focus~main label[for="toc-navi"] {
        @include outline;
    }

    #toc-navi:checked~main {

        .book-toc {
            position: absolute;
            transform: translateX(16rem);
        }
    }

    .book-menu-content,
    .book-toc-content,
    .book-page {
        margin-top: 2rem;
    }
}

// mobile view font-size .8rem samller than body font size
@media screen and (max-width: $mobile-breakpoint) {

    .book-menu-content,
    .book-toc-content,
    .book-page {
        margin-top: 0rem;
    }

    .book-menu {
        position: absolute;
        left: 0;
        visibility: hidden;
        margin-inline-start: -$menu-width;
        font-size: $font-size-14;
        z-index: 1;
    }

    // bug: 目录展开后切换为移动视图，目录不能完全隐藏
    // 会占用空白空间
    // fixed: 原因在与toc-navi按扭checked book-page right 18rem
    .book-toc {
        position: absolute;
        right: 0;
        visibility: hidden;
        margin-inline-start: -$menu-width;
        font-size: $font-size-14;
        z-index: 1;
    }

    .book-page {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0;
    }

    #toc-control:checked~main {
        .book-header aside {
            display: block;
            transition: .3s allow-discrete;
            opacity: 1;
            font-size: $font-size-14;
        }
    }

    .navi-header {
        display: none;
    }
}

// 底部文章导航
.next-prev {
    hr {
        border: none;
        height: 10px;
        margin-top: 2rem;
        border-top: 1px solid rgba(12, 68, 235, 0.35);
    }

    #pagenavi {
        font-family: cursive;
        margin-top: 2rem;
        justify-content: space-between;

        div {
            height: auto;
            border: 0 solid rgba(12, 68, 235, 0.35);
            padding: 5px;
        }

        div.pre-page,
        div.pre-page-none {
            text-align: left;
            border-left-width: 1px;
        }

        div.next-page,
        div.next-page-none {
            text-align: right;
            border-right-width: 1px;
        }
    }
}

// 相似文章
.related {

    .rel-title {
        padding-top: 1rem;
        text-align: center;
    }

    .rel-items {
        display: flex;
        justify-content: space-evenly;

        a {
            padding: 10px;

            div {
                height: auto;
                font-size: .85rem;
                text-align: center;
                border: 1px solid #f8f8f8;
                background-color: #f8f8f8;
                border-radius: 10px;
                margin-top: 1rem;
                padding: 10px;
            }
        }

        a:hover {
            div {
                box-shadow: 0 0 10px 0 rgba(12, 68, 235, 0.35);
            }
        }
    }

    hr {
        border: none;
        height: 10px;
        margin-top: 2rem;
        border-top: 1px solid rgba(12, 68, 235, 0.35);
    }

}

.copyright {
    text-align: center;
    font-size: 0.8rem;
    color: gray;

    a {
        color: gray;
    }

    .cline {
        border: none;
        height: 10px;
        border-top: 2px solid #f8f8f8;
        margin-top: 5rem;
    }
}

// TOC 的样式
#toc-new ul {
    list-style: none;
    padding: 0px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;

    ul {
        padding-inline-start: 1rem;
    }

    li {
        margin: .65em 0;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

// TOC 高亮, 自动隐藏与显示次级目录
#toc-new li {
    a {
        color: black;
    }

    ul {
        display: none;
    }

    a.active {
        color: $hover-color;
        background-color: $bkg-color;

        ul {
            display: inherit;
        }
    }

    // 隐藏次一级目录
    #toc-new li>ul {
        display: none;
    }
}

// 子目录显示时，上级目录也要显示哈~
#toc-new .nav:has(a.active) {
    display: inherit;
}

// Back To Top
#back-to-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 1px;
    z-index: 99;
    font-size: .8rem;
    cursor: pointer;

    .black {
        display: block;
    }

    .blue {
        display: none;
    }

    :hover {
        .black {
            display: none;
        }

        .blue {
            display: block;
        }
    }
}