{{ if not (default false (default .Site.Params.BookIndex  .Params.BookIndex)) }}
    <div class="next-prev">
        <hr>
        <div class="page-navi flex" id="pagenavi">
            {{ if .NextInSection }}
            <div class="pre-page">
                ←
                <a href="{{.NextInSection.Permalink}}">{{ .NextInSection.LinkTitle }}</a>
            </div>
            {{ else }}
            <div class="pre-page-none">
                ←∅
            </div>
            {{ end }}
            {{ if .PrevInSection }}
                <div class = "next-page">
                    <a href="{{.PrevInSection.Permalink}}">{{ .PrevInSection.LinkTitle }}</a> →
                </div>
            {{ else }}
                <div class = "next-page-none">
                    ∅→
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}