<!--
 * @Author: wangy325
 * @Date: 2024-08-13 18:59:45
 * @Description: 
-->

  {{ with .Date}}
    {{- $date := partial "docs/date" (dict "Date" . "Format" $.Site.Params.BookDateFormat) -}}
      <div class = "created flex align-cneter">
        <img src='{{ "svg/calendar-event.svg" | relURL }}' class="book-icon" alt="" />
        <a title='{{ i18n "Created by" }} {{$.Params.author}}'>
          {{ $date }}
        </a>
      </div>
  {{ end }}

  {{ with $terms := $.GetTerms "categories" }}
      <div class= "cates flex align-center">
        <img src='{{ "svg/cates.svg" | relURL }}' class="book-icon" alt="" />
        {{ range $term := $terms}}
        <a href="{{$term.RelPermalink}}">
          {{ $term.Title }}
        </a>
        {{ end }}
      </div>
  {{ end }}

  {{ with $terms := $.GetTerms "tags"}}
    <div class ="tags flex align-center">
        <img src='{{ "svg/tag-alt.svg" | relURL }}' class="book-icon" alt="" />
        {{ range $term := $terms}}
        <a href="{{$term.RelPermalink}}">
            {{ $term.Title}}
        </a>
        {{ end }}
      </div>
  {{ end }}

  {{ if and .GitInfo .Site.Params.BookRepo }}
    <div class="last-modified flex align center">
      {{- $date := partial "docs/date" (dict "Date" .GitInfo.AuthorDate.Local "Format" .Site.Params.BookDateFormat) -}}
      {{- $commitPath := default "commit" .Site.Params.BookCommitPath -}}
      <img src='{{ "svg/edit.svg" | relURL }}' class="book-icon" alt="" />
      <a title='{{ i18n "Last modified by" }} {{ .GitInfo.AuthorName }} | {{ $date }}'>
        {{ $date }}
      </a>
    </div>
  {{ end }}
