{{ define "main" }}
  {{ range sort .Paginator.Pages }}
  <article class="markdown memo-post">
    <fieldset class="memos">
        <legend>{{ .Date.Format (.Param "BookDateFormat") }}</legend>
        <p>{{- .Content -}}</p>
    </fieldset>
  </article>
  {{ end }}

  {{ template "_internal/pagination.html" . }}

  <style>
    .memo_comments {
      margin-top: 5rem;
    }
  </style>
  <div class="memo_comments">
    {{ partial "comments" . }}
  </div>

  {{ if default true (default .Site.Params.copyright .Params.copyright) }}
    {{ partial "copyright" . }}
  {{ end }}

{{ end }}
