.post-header {
  margin-bottom: 20px;

  .post-title {
    margin: 0;
    font-size: $post-title-font-size;
    font-weight: $post-title-font-weight;
    font-family: $global-font-family;
    text-align: center;
  }

  .post-link {
    @include underline-from-center;
  }

  .post-meta {
    font-size: 14px;
    color: $post-meta-font-color;
    text-align: center;
    margin-bottom: 20px;

    .icon-calendar {
        display: inline;
        &::before {
            content: '\e953';
            position: relative;
            top: 1px;
        }
    }

    .post-time {
      display: inline;
      font-size: 15px;
      color: inherit;

      &::before{
          content:  '发表于 ';
      }
      &::after{
          content: ' | ';
      }
    }

    .icon-folder {
        display: inline;
        &::before {
            content: '\e91f';
            position: relative;
            top:1px;
        }
    }

    .post-category {
      display: inline;

      a {
        color: inherit;

        &::after {
          content: ' | ';
        }

        &:hover {
          color: $theme-color;
        }
      }
    }

    .icon-sigma {
        display: inline;
        &::before {
            content: '\e906';
            position: relative;
            top: 1px;
        }
    }

    .icon-clock {
        display: inline;
        &::before {
            content: '\e94e';
            position: relative;
            top:1px;
        }
    }

    .analyse {
      &::after {
        content: ' | ';
      }
    }

    .icon-eye {
        display: inline;
        &::before {
            content: '\e9ce';
            position: relative;
            top: 1px;
        }
    }

  }
}
